.form-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 0 auto;
}

form textarea {
  resize: vertical;
  min-height: 150px;
}

form button {
  background-color: #ffbb5c;
  color: black;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
}

form button:hover {
  background-color: #f94c10;
}

@media (max-width: 768px) {
  .form-container {
    max-width: 100%;
    padding: 10px;
    margin: 20px auto;
  }

  form input,
  form textarea {
    width: calc(100% - 20px);
  }

  form button {
    padding: 10px;
  }
}
